<% if (!index && theme.config.toc && post.toc) { %>
  <aside class="sidebar sidebar-toc collapse <% if(theme.config.autoUnfold){%>  in  <%}%>" id="collapseToc" itemscope itemtype="http://schema.org/WPSideBar">
  <div class="slimContent">
    <nav id="toc" class="article-toc">
      <h1 class="toc-title"><%= __('article.catalogue') %></h1>
        <!--  侧边栏目录样式，辅助函数toc介绍：https://hexo.io/zh-cn/docs/helpers.html  -->
      <%- toc(post.content, {list_number: false, max_depth: 3}) %>
    </nav>
  </div>
</aside>
<% } %>